<h3 mat-dialog-title>{{this.isEdit() ? 'Editar ': 'Guardar '}} Tarea</h3>

<div class="container" mat-dialog-content>
  <form [formGroup]="taskForm">
    <div class=" row m-2">

      <mat-form-field class="col-md-6 col-sm-12" appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
        <app-mat-errors-generic
          [formControlValid]="this.taskForm"
          [field]="'title'"
          [ValorTouched]="this.taskForm.get('title')!.touched"
        />
      </mat-form-field>

      <mat-form-field class="col-md-6 col-sm-12"  appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción" formControlName="description" />
        <app-mat-errors-generic
          [formControlValid]="this.taskForm"
          [field]="'description'"
          [ValorTouched]="this.taskForm.get('description')!.touched"
        />
      </mat-form-field>
      <mat-checkbox  [checked]="taskForm.get('State')!.value === statesTask.COMPLETADO" class="col-md-6 col-sm-12"   (change)="onStateChange($event.checked)">Completada ?</mat-checkbox>
  </div>
  </form>

</div>
<mat-dialog-actions class="d-flex justify-content-end m-2 " >
  <button mat-raised-button mat-dialog-close type="button" color="default">Cancelar</button>
  <button [disabled]="this.taskForm.invalid" mat-raised-button type="button" color="primary" (click)="this.save()">{{this.isEdit() ? 'Actualizar': 'Guardar'}}</button>
</mat-dialog-actions>


