<div class="pt-3 ps-5 pe-5  table-response" style="max-height: 50vh;">
  <mat-card>

<mat-card-header class="container-fluid py-3 ">
  <div class="row d-flex justify-content-end ">
    <div class="col-md-6 mb-2 mb-md-0">
      <button
        mat-raised-button
        color="primary"
        (click)="add()"
      >
        <mat-icon>add</mat-icon> Nueva tarea
      </button>
    </div>

    <div class="col-md-6 ">
      <mat-form-field appearance="outline" class=" h-5 mb-0">
        <mat-select
          [value]="'TODOS'"
          (selectionChange)="onEstadoChange($event.value)"
        >
          <mat-option [value]="'TODOS'">Todos</mat-option>
          <mat-option [value]="statesTask.PENDIENTE">Pendientes</mat-option>
          <mat-option [value]="statesTask.COMPLETADO">Completadas</mat-option>
        </mat-select>
      </mat-form-field>

  </div>
  </div>
</mat-card-header>
<mat-card-content>
<table mat-table [dataSource]="dataSource" >
  <ng-container   width="5%" matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="isCompleted">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox  [checked]="element.state === statesTask.COMPLETADO"
      (change)="updateStatus($event.checked, element)"></mat-checkbox>
    </td>
  </ng-container>
  <!-- Columna Acciones -->
  <ng-container matColumnDef="acciones">
    <th  mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <!-- Botón Editar -->
      <button mat-icon-button color="primary" (click)="editar(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <!-- Botón Eliminar -->
      <button mat-icon-button color="warn" (click)="eliminar(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Encabezado y filas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="this.dataSource.data.length"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [showFirstLastButtons]="true"
              >
</mat-paginator>
</mat-card-content>

</mat-card>
</div>
